* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: auto;
    margin-top: 100px;
    width: 90vw;
    min-width: 500px;
    display: flex;
    font-family: Arial;
}

.chat {
    background-color: rgb(248, 248, 248);
    width: 70%;
    overflow-y: auto;
    h2 {
        padding: 20px;
    }
    #messages {
        background-color: rgb(230, 230, 230);
        min-height: 300px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        li {
            padding: 5px 10px;
        }
        li:nth-child(odd) {
            background: #eee;
        }
    }
    input {
        border: 0;
        padding: 10px;
        width: 90%;
        height: 35px;
        border: 2px solid rgb(130, 224, 255);
    }
    button {
        height: 35px;
        width: 10%;
        background: rgb(130, 224, 255);
        border: none;
        padding: 10px;
    }
}

.users_list {
    width: 30%;
    background-color: rgb(227, 255, 227);
    padding: 20px;
    h2 {
        margin-bottom: 30px;
    }
}